{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <!-- Events -->
        <div class="col-12 m-5">
            <h1>Attending</h1>
            {% if attending_events|length == 0 %}
            <div class="card">
                <div class="card-body text-muted text-center">
                    <h6>You are not going to any events. <a href="{% url 'event_create' %}">Search for an event?</a>
                    </h6>
                </div>
            </div>
            {% endif %}
            <div class="row row-cols-3 row-cols-md-3 g-4">
                {% for attending in page_obj %}
                {% with event=attending.event %}
                <div class="col">
                    <div class="card">
                        {% if "event_image" in event.event_image.url %}
                        <img class="img-fluid rounded-start list-img" src="{% static 'images/default_event.webp' %}"
                            alt="placeholder image">
                        {% else %}
                        <img class="img-fluid rounded-start list-img" src=" {{ event.event_image.url }}"
                            alt="{{ event.event_title }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{event.event_title}}</h5>
                            <p class="card-text">{{ event.description}}</p>
                            <p class="card-text"><small class="text-body-secondary">{{event.date}}</small></p>
                        </div>
                    </div>
                </div>
                {% endwith %}
                {% endfor %}
            </div>
        </div>

        <hr>
        <div class="pagination justify-content-center mt-2">
            <p><span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"><b>Previous</b></a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"><b>Next</b></a>
                    {% endif %}
                </span></p>
        </div>
    </div>

    {% endblock %}