{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-xl-8 col-xxl-5 my-5">
            <div class="card mb-3">
                {% if "event_image" in event.event_image.url %}
                <img class="img-fluid rounded-start detail-img" src="{% static 'images/default_event.webp' %}"
                    aria-label="Profile Picture" alt="placeholder image">
                {% else %}
                <img class="img-fluid rounded-start detail-img" src=" {{ event.event_image.url }}"
                    aria-label="Profile Picture" alt="{{ event.event_title }}">
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title">{{ event.event_title }}</h4>
                </div>
                <div class="card-body">
                    <h6 class="card-title">Event Details</h6>
                    <p class="card-text">{{ event.description }}</p>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <span><i class="fa-solid fa-user text-green"></i></span>
                        {{ event.host }}
                    </p>
                    <p class="card-text">
                        <span><i class="fa-solid fa-calendar-days text-green"></i></span>
                        {{ event.date }} @ {{ event.start_time }} until {{ event.end_time }}
                    </p>
                    <p class="card-text">
                        <span><i class="fa-solid fa-location-dot text-green"></i></span>
                        {{ event.location }}
                    </p>
                    <p class="card-text">
                        <span><i class="fa-solid fa-layer-group text-green"></i></span>
                        {{ event.category }}
                    </p>
                    <p class="card-text">
                        <span><i class="fa-solid fa-users text-green"></i></span>
                        {{ attendee_count }} attending
                        {% if event.limit is not None %}
                        <small>
                            <p class="card-text text-muted"> This event has a limit of {{ event.limit }} attendees</p>
                        </small>
                        {% endif %}
                    </p>
                </div>
                {% if user == event.host %}
                <div class="card-body">
                    <button class="btn btn-danger" id="eventDelete" event_id="{{ event.id }}">Delete</button>
                    {% if in_the_past %}
                    <p class="card-text text-muted"> <small class="text-body-secondary">This event has already
                            happened</small></p>
                    {% else %}
                    <a class="btn btn-primary" href="{% url 'event_edit' event.id %}">Edit</a>
                    {% endif %}
                </div>
                {% endif %}

                {% if is_user_attending%}
                <div class="card-body">
                    {% if in_the_past %}
                    <p class="card-text text-muted"> This event has already happened</p>
                    {% else %}
                    <p class="card-text text-muted">You are going to this event</p>
                    <a class="btn btn-danger" href="{% url 'remove_attendance' event.id %}" aria-disabled="False">Cant
                        Attend</a>
                    {% endif %}
                </div>
                {% elif user != event.host %}
                <div class="card-body">
                    {% if in_the_past %}
                    <p class="card-text text-muted"> This event has already happened</p>
                    {% elif capacity %}
                    <p class="card-text text-muted"> This event is at capacity</p>
                    {% else %}
                    <a class="btn btn-success" href="{% url 'attend_event' event.id %}" aria-disabled="False">Attend</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete event?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this event?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extras %}
<script src="{% static 'js/events.js' %}"></script>
{% endblock %}