@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&family=Sigmar&display=swap');

/* General Styles */
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', 'serif';
    font-weight: 400;
}

span {
    font-family: 'Roboto', 'serif';
}

p {
    font-family: 'Roboto', 'serif';
}

a {
    font-family: 'Roboto', 'serif';
    color: #009688;
    text-decoration: none;
}

.text-yellow {
    color: #ffc107;
}

.text-green {
    color: #009688;
}

/* Navbar Styling */
.navbar a {
    font-family: "Roboto", "serif";
    font-weight: 400;
}

.brand {
    font-family: "Sigmar", "serif";
    font-weight: 400;
    font-style: normal;
    color: #ffc107;
}

.header-bg {
    background-color: #009688;
}

.header-img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
}

/* Main Generic Styling */
.main-bg {
    background-color: #009688;
    border-radius: 5px;
}

.list-img,
.detail-img {
    width: 100%;
    object-fit: cover;
}

.list-img {
    height: 190px;
}

.detail-img {
    height: 300px;
}

i {
    font-family: "Roboto", "serif";
}

/* Hide field from cloudinary. not needed */
#div_id_profile_image .input-group:first-of-type,
#div_id_event_image .input-group:first-of-type {
    display: none !important;
}

/* Footer Styling */
.footer-bg {
    background-color: #009688;
}

.footer-links i:hover {
    color: #009688;
    box-shadow: inset 200px 0 0 0 #ffc107;
    padding: 2px;
    border-radius: 25%;
}