@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&family=Sigmar&display=swap');

.header-bg {
    background-color: #009688;
}

.main-bg {
    background-color: #009688;
    border-radius: 5px;
}

.footer-bg {
    background-color: #009688;
}

.brand {
    font-family: "Sigmar", "serif";
    font-weight: 400;
    font-style: normal;
    color: #ffc107;
}

.header-img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.list-img {
    height: 190px;
    object-fit: cover;
}

.list-bg {
    background-color: #B2DFDB;
}

.navbar a {
    font-family: "Roboto", "serif";
    font-weight: 400;
}